<div class="justPrint" style="text-align: center;"><%= image_tag("LogoPrefeitura.jpg", alt: "Prefeitura de São Paulo") %></div>
<h1>Motoristas - Licença Médica</h1>
<%= render 'layouts/lista', object: @motoristas %>