<div class="justPrint" style="text-align: center;"><%= image_tag("LogoPrefeitura.jpg", alt: "Prefeitura de São Paulo") %></div>
<h1>Motoristas - Outras Áreas Filtrado</h1>
<%= link_to "Voltar", outras_areas_path, class: "btn btn-default noPrint" %>
<% @secoes.each do |s| %>
  <% if !s.blank? %>
    <h3><%= s.first.secao_atual %></h3>
    <%= render 'layouts/lista', object: s %>
  <% end %>
<% end %>