<h1>Motoristas - Outras Ãreas Filtrado</h1>
<%= link_to "Voltar", outras_areas_path, class: "btn btn-default" %>
<% @secoes.each do |s| %>
  <% if !s.blank? %>
    <h3><%= s.first.secao_atual %></h3>
    <%= render 'layouts/lista', object: s %>
  <% end %>
<% end %>