@import "bootstrap-sprockets";
@import "bootstrap";

td, th {
  text-align: center;
}

.formulario {
  margin-bottom: 10px;
}

.form_label {
  display: block;
}

.form_submit {
  margin-top: 17px;
  margin-bottom: 30px;
}

body { 
  // padding-top: 70px;
}

.esq {
  text-align: left;
}

.back {
  background-color: WHITE;
}

body {
  background-color: #265a88;
  color: white;
}

.dir {
  text-align: right;
}

.field_with_errors {
  .form-control {
    border: solid red 1px;
  }
}

.btn-size {
  height: 170px;
  line-height: 170px;
  font-size: 30px;
  font-weight: bold;
  border: 1px solid black;
  padding: 0;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  margin-bottom: 20px;
  &:hover {
    border: 1px solid black;
    padding: 0;
  }
}

.btn-list {
  margin-bottom: 20px;
  height: 100px;
  // line-height: 100px;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid black;
  padding: 0;
  padding-top: 38px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  &:hover {
    border: 1px solid black;
    padding: 0;
    padding-top: 38px;
  }
}

.btn-pad1{
  padding-top: 11px;
  &:hover {
    padding-top: 11px;
  }
}

.btn-pad2{
  padding-top: 25px;
  &:hover {
    padding-top: 25px;
  }
}

.search_form{
  text-align: center;
}

.form-text{
  color: white;
}

.tabela {
  // background-color: white;
}

.lista-mot{
  a{
    color: white;
    text-decoration: none;
  }
}

@media print {
  .noPrint {
    display: none;
  }
}

@media screen {
  .justPrint {
    display: none;
  }
}

.cadastrar {
  position: absolute;
  right: 0px;
  margin-right: 10px
}

.titulo-registro {
  text-align: left;
  font-weight: bold;
}

.modal-show {
  color: black;
}