@import "bootstrap-sprockets";
@import "bootstrap";

td, th {
  text-align: center;
}

.formulario {
  margin-bottom: 10px;
}

.form_label {
  display: block;
}

.form_submit {
  margin-top: 17px;
}

body { 
  padding-top: 70px;
}

.esq {
  text-align: left;
}

.back {
  background-color: #E0E0E0;
}

body {
  background-color: #265a88;
}

.dir {
  text-align: right;
}

.field_with_errors {
  .form-control {
    border: solid red 1px;
  }
}

.btn-size {
  height: 170px;
}