<nav class="navbar navbar-fixed-top navbar-inverse" style="line-height: 50px; padding: 0px 25px 0px 0px">
  <div class="container-fluid">
    <% if logged_in? %>
      <ul class="nav navbar-nav navbar-left">
        <li style="font-weight: bold;">
          <%= link_to "S I K O N", root_url, :style => "color: white;" %>
        </li>
        <li style="color: #999; margin-left: 40px;">
          <%= current_user.nome %> - <%= current_user.tipo %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li style="font-weight: bold;">
          <%= link_to "SAIR", logout_path, method: "delete", :style => "color: white;" %>
        </li>
      </ul>
    <% else %>
      <ul class="nav navbar-nav navbar-left">
        <li style="font-weight: bold;"><a href"#" style="color: white;">S I K O N</a></li>
      </ul>
    <% end %>
  </div>
</nav>
