<div class="tabela">
    <!--<div class="panel panel-default">-->
    <!--  <div class="panel-heading">-->
    <!--    Motoristas - Geral-->
    <!--  </div>-->
      <table class="table table-condensed table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Nome</th>
            <th>RF</th>
            <th>Cargo</th>
            <th>Seção Original</th>
            <th>Seção Atual</th>
            <th>Pontuação</th>
            <th>Local</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
            <!--@motoristas.each do |m|-->
          <tr>
            <th>1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>bla</td>
            <td>bla</td>
            <td>bla</td>
            <td>bla</td>
            <td>bla</td>
          </tr>
          <!--end-->
          <tr>
            <th>2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>bla</td>
            <td>bla</td>
            <td>bla</td>
            <td>bla</td>
            <td>bla</td>
          </tr>
          <tr>
            <th>3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>bla</td>
            <td>bla</td>
            <td>bla</td>
            <td>bla</td>
            <td>bla</td>
          </tr>
        </tbody>
      </table>
    <!--</div>-->
</div>